*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(249,221,122);
}
.glass{
    border: solid black 3px;
    height: 88vh;
    margin: 2rem;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
}